<div class="container">
    <div>
        <i class="fs-4 bi bi-mic"></i><u><span>My Pronunciation</span></u>
    </div>
    <br />

    <form>
        <div class="form-group row">
            <label for="inputFName" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-4">
                <input type="text"  value="Karthick" class="form-control" id="inputFName" placeholder="First Name" readonly="true" >
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label for="inputLName" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-4">
                <input type="text"  value="R" class="form-control" id="inputLName" placeholder="Last Name" readonly="true">
            </div>
        </div>
        <br />
        
        <div class="form-group row">
            <label class="col-sm-4 col-form-label"><a><i class="bi bi-play-circle"></i>Click here for Standard Pronunciation</a></label>
            <label  class="col-sm-4 col-form-label"> <a><i class="bi bi-play-circle"></i>Click here for Custom Pronunciation</a></label>
        </div>
        <br/>
        <div>
            <label  class="col-sm-8 col-form-label">
                <i class="bi bi-emoji-frown"></i>  Not Happy with the Standard Pronunciation,<a>Set your Custom Pronunciation <i class="bi bi-emoji-smile"></i></a>
            </label>
        </div>

        <br/>
        <!-- <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div> -->
    </form>
</div>