/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
body {
    font-family: verdana, Arial, sans-serif;
}

.card-header {
    background-color: #d71e28 !important;
    height: 37px;
    color: white;
    font-family: verdana, Arial, sans-serif;
    font-size: 14px;
}

.control-label {
    font-size: 14px;
}

.lineHeight5 {
    line-height: 5px;
}

.btn_search_icon {
    height: 2.5em;
    margin-left: 0.5em;
}

.btn_search_icon:hover {
    cursor: pointer;
}