<div class="card">
    <div class="card-header">
        <i class="fs-5 bi bi-search"></i><span style="padding-left: 5px;">Look up for Pronunciation</span>
    </div>
    <div class="card-body">
        <div class="form-group row">

            <label for="inputPassword" class="col-sm-1 col-form-label">Search</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="searchrequest.searchtxt" id="inputsearch" placeholder="Search with Lan Id">
            </div>
            <div class="col-sm-1">
                <img src="assets/image/search-button.png" class="btn_search_icon" title="Search" alt="Search"
                    (click)="search()" />
            </div>
        </div>
    </div>
</div>
<br />
<ng-container >
    <div class="card">
        <div class="card-header" (click)="issearchInfoHidden=!issearchInfoHidden">
            <i class="bi bi-people"></i><span>&nbsp;&nbsp;Search Results</span>
            <div style="float:right">
                <i class="fs-4 bi bi-arrow-up-circle-fill" [hidden]="issearchInfoHidden"></i>
                <i class="fs-4 bi bi-arrow-down-circle-fill" [hidden]="!issearchInfoHidden"></i>
            </div>
        </div>
        <div class="card-body" [hidden]="issearchInfoHidden">
            <div class="form-group row">
                <div class="col-4">
                    <label class="control-label">
                        Employee ID:
                    </label>
                    <label class="control-label">
                        {{ searchresponse.employeeId}}
                    </label>
                </div>
                <div class="col-8">
                    <label class="control-label">
                        Email:
                    </label>
                    <label class="control-label">
                        {{ searchresponse.emailAddress}}
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label class="control-label">
                        First Name:
                    </label>
                    <label class="control-label">
                        {{ searchresponse.firstname}}
                    </label>
                </div>
                <div class="col-4">
                    <label class="control-label">
                        Last Name:
                    </label>
                    <label class="control-label">
                        {{ searchresponse.lastname}}
                    </label>
                </div>
                <div class="col-4">
                    <label class="control-label">
                        Phone:
                    </label>
                    <label class="control-label">
                        {{ searchresponse.phone}}
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label class="control-label">
                        Manager Name:
                    </label>
                    <label class="control-label">
                        {{ searchresponse.managername}}
                    </label>
                </div>
                <div class="col-4">
                    <label class="control-label">
                        Is Custom Pronunciation ? :
                    </label>
                    <label class="control-label">
                        <input type="radio" id="custompronunciationtrue" [value]="true" disabled="true" [(ngModel)]="searchresponse.isAdmin">
                        <label for="admintrue">Yes</label>
                        <input type="radio" id="custompronunciationfalse" [value]="false" disabled="true" [(ngModel)]="searchresponse.isAdmin">
                        <label for="adminfalse">No</label>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label class="control-label">
                        Name Pronunciation :
                    </label>
                    <label class="control-label">
                        &nbsp;&nbsp; <button class="btn btn-primary" (click)="listenPronunciation()" style="cursor: pointer;"> <i
                                class="bi bi-mic"></i>Listen</button>
                    </label>
                </div>
                <audio [src]="sanitize(audioSource)" id="audio" controls #audioTag>
                </audio>
            </div>
        </div>
    </div>
</ng-container>